* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: #08212b;
    color: #e7e2e2;
}

.nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 1;
}

.logo {
    display: flex;
    gap: 20px;
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: #07d3f3;

}

.logo::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #08212b;
    animation: showRight .5s ease forwards;
    animation-delay: .3s;
}

.nav ul {
    display: flex;
    margin-right: 100px;
    list-style: none;
    gap: 40px;
    font-size: 24px;

}

.nav ul li a {
    display: flex;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 18px;
    color: #e7e2e2;
    font-weight: 500;
    margin-left: 35px;
    transition: all ease .3s;
    text-shadow: 5px 5px 10px;

}

.nav ul li ::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #08212b;
    animation: showRight 3s ease forwards;
    animation-delay: 1s;

}

#click {
    display: none;
}

.hamburger {
    display: none;
}

.nav ul li a:hover, .nav a.active {
    box-shadow: 5px 5px 20px .5px;
    color: rgb(2, 248, 232);

}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    width: 40%;
    height: 60vh;
    background: transparent;

}

.image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #08212b;
    animation: showRight 1s ease forwards;
    animation-delay: 5s;
}

.image img {
    border-radius: 50%;
    padding: 5px;
    width: 60%;
    height: 70%;
    transition: .5s;
    background: linear-gradient(to right, rgb(93, 96, 208), rgba(211, 6, 6, 0.225), rgb(4, 4, 225));

}


.image img:hover {
    transform: scale(1.1);
    color: #131313;
    box-shadow: 0 0 20px cyan,
        0 0 20px cyan, 0 0 20px cyan;
    transition: 0.5s;
    opacity: .9;
}

.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 20px 20px;
    border: 10px solid rgb(9, 46, 60);
    border-radius: 10px;
}

.home-content {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    width: 50%;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.5;
    background: linear-gradient(to right, blue, red, purple);
    background-clip: text;
    color: transparent;
    font-size: 36px;
}

h1::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #08212b;
    animation: showRight 1s ease forwards;
    animation-delay: 2s;

}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #0b95cc;
}

.home-content h3::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #08212b;
    animation: showRight 3s ease forwards;
    animation-delay: 2.5s;
}

.home-content p {
    position: relative;
    font-size: 24px;
    margin: 20px 0 40px;
    color: #356b73;
}

.home-content p::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #08212b;
    animation: showRight 2s ease forwards;
    animation-delay: 3s;
}

.home-content .btn-bx {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 345px;
    height: 50px;

}

.home-content .btn-bx::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #08212b;
    animation: showRight 1s ease forwards;
    animation-delay: 4s;
    z-index: 2;
}

.btn-bx a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #0b95cc;
    border: 3px solid #0b95cc;
    border-radius: 8px;
    font-size: 18px;
    color: #151718;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

.btn-bx a:nth-child(2) {
    background: transparent;
    color: #0b95cc;
}

.btn-bx a:nth-child(2):hover {
    color: #fcfbfb;
}

.btn-bx a:nth-child(2)::before {

    background: #0b95cc;
}

.btn-bx a:hover {
    color: #0b95cc;
}

.btn-bx a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #11111c;
    z-index: -1;
    transition: .5s;
}

.btn-bx a:hover::before {
    width: 100%;

}

.social-media-link {
    display: flex;
    position: absolute;
    bottom: 100px;
    width: 240px;
    justify-content: space-between;


}

.social-media-link::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #08212b;
    animation: showRight 1.5s ease forwards;
    animation-delay: 5s;
    z-index: 2;
}

.social-media-link a {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 30px;
    color: #00abf0;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.social-media-link a:hover {
    color: #11111c;
}

.social-media-link a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.social-media-link a:hover:before {
    width: 100%;
}

@keyframes showRight {
    100% {
        width: 0;
    }
}

/* ===== Mobile Responsive ====== */

@media screen and (max-width:767px) {

    #click:checked~.hamburger i::before {
        content: "\f00d";
    }

    #click:checked~ul {
        left: 0%;
    }

    .hamburger {
        display: block;
        position: fixed;
        margin-right: 50px;
        font-size: 30px;
        padding: 0px;
        cursor: pointer;
        color: rgb(163, 211, 223);
    }

    .nav {
        width: 100%;
    }

    .nav a {
        font-size: 24px;
    }

    .nav ul li a:hover {
        color: #000;
        background-color: #00abf0;
    }

    .nav ul {
        display: block;
        position: fixed;
        top: 130px;
        left: -100%;
        margin-left: 30px;
        width: 90%;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        background: rgb(57, 67, 65);
        border-radius: 20px;
        opacity: .9;

    }

    .nav ul li {
        margin: 10px 0px;
        margin: 10px auto;
    }

    .nav ul li a {
        border-radius: 10px;
        display: block;
        padding: 8px;
        margin: 0px auto;
        font-size: 20px;
        width: 60%;
        text-align: center;
    }

    .image {
        position: absolute;
        left: 0px;
        top: 50px;
        bottom: 0px;
        width: 100%;
        height: 35vh;
    }

    .image img {
        width: 60%;
        height: 60%;
    }

    .home {
        width: 100%;
        
    }

    .home-content {
        width: 500px;
    }

    .home-content h1 {
        font-size: 32px;
    }

    .home-content h3 {
        font-size: 32px;
    }

    .home-content p {
        font-size: 20px;
    }

    .home-content .btn-bx {
        display: flex;
        position: relative;
        justify-content: space-between;
        width: 280px;
        height: 40px;
    }

    .btn-bx a {
        width: 130px;
    }

    .social-media-link {
        display: flex;
        position: absolute;
        bottom: 100px;
        width: 240px;
        justify-content: space-between;


    }

    .social-media-link a {
        font-size: 28px;
    }

}